body {
    background-color: hwb(240 7% 92%);
    color: rgb(230, 230, 230);
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    letter-spacing: 5px;
    word-spacing: 3px;
}

.hidden {
    display: none;
}

#chapter-select-container {
    font-size: 20pt;
    background-color: rgb(17, 3, 55);
    padding: 40pt;    
}


ul {
    list-style-type: none;    
}

li {
    padding: 5pt 0;
}

#learning-container {
    padding: 40pt;
}

button {
    background-color: hwb(240 20% 75%);
    border: none;
    color: rgb(129, 129, 129);
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30pt;
    border-radius: 15px;
}

.highlighted-button {
    background-color: #3b88fd; 
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30pt;
    border-radius: 15px;
}

a {
    color: rgb(253, 168, 137);
    text-decoration: none;
}

